# macOS
.DS_Store

# Xcode user-specific data
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Xcode build artifacts
DerivedData/
build/
*.o
*.d
*.dia
*.swiftdeps

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# 其他
*.log
